<!-- <form method="POST" enctype="multipart/form-data">
    <label>Votre name 
        <input type="text" name="name" >
    </label>

    <label>Votre description 
        <input type="text" name="description">
    </label>

    <label>Votre img_file[] 
        <input type="file" name="img_file[]" multiple>
    </label>

    <label>Votre mature
        <input type="checkbox" name="mature">
    </label>

    <label>Votre zip_file 
        <input type="file" name="zip_file">
    </label>

    <label>Votre version
        <input type="number" name="version">
    </label>

    <label>Votre credit
        <input type="text" name="credit">
    </label>

    <label>Votre yt
        <input type="url" name="video">
    </label>

    <button type="submit" name="valid_game_add"> test</button>
</form> -->